<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.biosensing">

    <!-- BLE permissions to request a connection, accept a connection, and transfer data. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!--
    If you want your app to initiate device discovery or manipulate Bluetooth settings, you must
    also declare the BLUETOOTH_ADMIN permission.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Available to devices that do not support BLE. -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <!-- In order to receive location updates. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Needed only for Android 5.0 or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <!-- Needed to connect to SQL server -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeviceControlActivity" />

        <service
            android:name=".BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name=".TargetTempActivity"
            android:label="Target Temperature"
            android:parentActivityName=".DeviceControlActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DeviceControlActivity" />
        </activity>
        <activity
            android:name=".RealTargetTempActivity"
            android:label="Target Temperature Real-Time Graph"
            android:parentActivityName=".TargetTempActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".rangeTargetTempActivity"
            android:label="Target Temperature Graph"
            android:parentActivityName=".TargetTempActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".RangeAmbientActivity"
            android:label="Ambient Temperature Graph"
            android:parentActivityName=".AmbientActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v7.app.AppCompatActivity" />
        </activity>
        <activity
            android:name=".AmbientActivity"
            android:label="Ambient Temperature"
            android:parentActivityName=".DeviceControlActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DeviceControlActivity" />
        </activity>
        <activity
            android:name=".RealAmbientActivity"
            android:label="Ambient Temperature Real-Time Graph"
            android:parentActivityName=".AmbientActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".HeartActivity"
            android:label="Heart Rate"
            android:parentActivityName=".DeviceControlActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.biosensing.DeviceControlActivity" />
        </activity>
        <activity
            android:name=".RangeHeartActivity"
            android:label="Heart Rate Graph"
            android:parentActivityName=".HeartActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.biosensing.HeartActivity" />
        </activity>
        <activity
            android:name=".RealHeartActivity"
            android:label="Heart Rate Real-Time Graph"
            android:parentActivityName=".HeartActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.biosensing.HeartActivity" />
        </activity>
        <activity
            android:name=".ThermActivity"
            android:label="Health Thermometer"
            android:parentActivityName=".DeviceControlActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.biosensing.DeviceControlActivity" />
        </activity>
        <activity
            android:name=".RangeThermActivity"
            android:label="Health Thermometer Graph"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName="com.example.biosensing.ThermActivity">

        </activity>
        <activity
            android:name=".RealThermActivity"
            android:label="Health Thermometer Real-Time Graph"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName="com.example.biosensing.ThermActivity">

        </activity>
    </application>

</manifest>